*.log
*.dSYM
*/.build_*/*
*/bin/*
*.o
*.xe
*.vcd
*.swo
*.s
*.xi
*.i
*.bin
*~
*.a
*.swp
*.*~
*.pyc
.build*
.DS_Store
test_results.csv
_build*
**/.venv/**
**/.vscode/**
**.egg-info
*.pdf
*tests/logs/*

# waf build files
.lock-waf_*
.waf-*/
build/
.build*
*.pyc
xscope.xmt

# Traces
*.gtkw
*.vcd
