# XMOS bin files
*.xe
*.bin
*/bin/*

# XMOS temp files
.build*
*.a
_build*
*.i
*.s
*.xi
*.o
*/.build_*/*

# Temp files
.DS_Store
*.*~
*.swp
*.swn
*~
*.swo

# waf build files
.lock-waf_*
.waf-*/
build/
.build*
*.pyc
xscope.xmt

# Traces
*.gtkw
*.vcd

# Host binaries 
host_usb_mixer_control/xmos_mixer

# Documentation build
*.pdf

# Misc
*.log
*.dSYM
*.vcd
*.pyc
**/.venv/**
**/.vscode/**
**.egg-info
*tests/logs/*
