*.log
*.dSYM
*/.build_*/*
*/bin/*
*.o
*.xe
*.vcd
*.swo
*.s
*.xi
*.i
*.bin
*~
.settings
*.a
*.swp
*.*~
*.pyc
.build*
.DS_Store
test_results.csv

# waf build files
.lock-waf_*
.waf-*/
build/
host/xmosdfu/xmosdfu
